<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
	<session-factory>
		<!-- Proveedor de conexión -->
		<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>

		<!-- Dialecto para PostgreSQL -->
		<property name="dialect">NHibernate.Dialect.PostgreSQLDialect</property>

		<!-- Driver de conexión adecuado para PostgreSQL en .NET -->
		<property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>

		<!-- Nivel de aislamiento de la conexión -->
		<property name="connection.isolation">ReadCommitted</property>

		<!-- Habilitar estadísticas de NHibernate -->
		<property name="generate_statistics">true</property>

		<!-- Configuración del contexto de la sesión -->
		<property name="current_session_context_class">call</property>

		<!-- Mostrar SQL generado en la consola -->
		<property name="show_sql">true</property>		
	</session-factory>
</hibernate-configuration>
